.hero{
    background-image:url(assets/img/illustrations/hero-bg.png);
    background-position:right top;
    background-size:contain;
    margin-top:5.625rem;
}

.hero1{
background-image:url(assets/img/gallery/hero.png);
background-position:right bottom;
background-size:contain;
margin-top:5.625rem;
}